<div id="container"><h2>Categories</h2>
		<ul class="people_list">

			<h1>Add Category</h1>
			
			{{#each products}}
			<h2>{{name}}</h2>
			<a href="/categories/edit/{{id}}">Edit</a>
			<a href="/categories/delete/{{id}}">Delete</a>
			{{/each}}
			</ul>
			<div id="add-products">
			<h1>Add a product</h1>
			
			<form action="categories/add" method="POST">
			Description: <input type="text" name="name">
			<input type="submit/add">
			</form>
			
			</div>
</div>