	<h1>Edit</h1>

	{{#data}}
	<form action="/products/update/{{id}}" method="POST">	
		
		discription : <input type="text" name="discription" value="{{discription}}"> 

	<input type="submit">
	</form>
	{{/data}}