<!DOCTYPE html>
<html lang="en">

    <head>
        <style>
            #text:hover { 
                background-color:#9933FF;
            }
            #sa{
                color:#9933FF;
            }
            #head{
                background-image: url("./header2.png");
                background-repeat: no-repeat;
                background-size: 100%;
                height: 220px;
                width: auto;
                opacity: 0.89;
            }
            body{
                background-image:url("./store1.jpg");
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            #container{
                background-color:#000000;
                font-family: "Times New Roman", Times, serif;
                color:#FF3399;
                font-size: 25px;
                height:auto;
                width: auto;
                opacity: 0.70;
            }
            button{
                color:#FF0000;
                background-color:#CCFF00;
            }
        </style>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>NELISSA SPAZA SHOP</title>

            <!-- Bootstrap Core CSS -->
            <link href="/css/bootstrap.min.css" rel="stylesheet">

            <!-- Custom CSS -->
            <link href="/css/simple-sidebar.css" rel="stylesheet">

            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>
    <body>
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="/">
                            Refresh
                        </a>
                    </li>
                    <li>
                        <a id = "text" href="/products"><strong>Product List</strong></a>
                    </li>
                    <li>
                    <li>
                        <a id = "text" href="/addProducts"><strong>Add Products</strong></a>
                    </li>
                    <li>     


                        <a id = "text" href="/popular_products"><strong>Most Popular Product</strong></a>
                    </li>
                    <li>
                        <a id = "text" href="/least_products"><strong>Least Popular Product</strong></a>
                    </li>
                    <li>
                        <a id = "text" href="/categories"><strong>Categories</strong></a>
                    </li>
                    <li>
                        <a id = "text" href="/addCategory"><strong>Add Categories</strong></a>
                    </li>
                    <li>
                       <a  id = "text" href="popular_category"><strong>Most Popular Categories</strong></a>
                    </li>
                    <li>
                        <a id ="text"  href="least_category"><strong>Least Popular Categories</strong></a>
                    </li>
                    <li>
                        <a id ="text"  href="product_earnings"><strong>Product Earnings</strong></a>
                    </li>
                    <li>
                        <a id ="text"  href="profitable_product"><strong>Most Profitable Product</button></a>
                    </li>
                    <li>
                        <a id ="text"  href="addSale"><strong>Add Sale</button></a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="head">

                            </div>
                            <div container="class theme-showcase" role="main">
                                <strong>{{{body}}}</strong>
                            </div>
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
        <script src="/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>
    </body>
</html>

