<div id="container"><h2>Categories</h2>
	
	<h1>Add Category</h1>
	
	{{#products}}
	<h2>{{name}}</h2>
	<a href="/addCategory/edit/{{id}}">Edit</a>
	<a href="/addCategory/delete/{{id}}">Delete</a>
	{{/products}}
	
	{{#empty}}
	<p>The list is empty.</p>
	{{/empty}}
	
	<div id="add-products">
	<h1>Add a product</h1>
	
	<form action="/addCategory/add" method="POST">
	Description: <input type="text" name="name" required >
	<input type="submit">
	</form>
	
	</div>
</div>