<div id="container">
	
	******* {{error}}******

	<h1>Add Category</h1>
	<table>
	   {{#products}}
	   <tr>
	        <td><h2>{{name}}</h2></td>
		    <td><a href="/addCategory/edit/{{id}}">Edit</a></td>
		    <td><a href="/addCategory/delete/{{id}}">Delete</a></td>
		</tr>
	{{/products}}
	</table>
	{{#empty}}
	   <p>The list is empty.</p>
	{{/empty}}
	<div id="add-products">
	   <h1>Add Category</h1>
	    <form action="/addCategory/add" method="POST">
		   Description: <input type="text" name="name" required >
		   <input type="submit">
	    </form>
	</div>
</div>