<div id="container">
	
	******* {{error}}******


	<div id="addCategories">
	   		<h1>Add Category</h1>
	    		<form method="POST" action="/categories/add">
		   		Description: <input type="text" name="name" required >
		   		<input type="submit">
	    		</form>
	</div>
	<h1>Category</h1>
	<div class="table-responsive">
	<table class="table">
	   {{#products}}
	   <tr>
	        <td><h2>{{name}}</h2></td>
		    <td><a href="/categories/edit/{{id}}">Edit</a></td>
		    <td><a href="/categories/delete/{{id}}">Delete</a></td>
		</tr>
		{{/products}}
	</div>
	</table>
		{{#empty}}
	   <p>The list is empty.</p>
		{{/empty}}
		
</div>