<div id="container">
	<div id="add-products">
		<h1>Add Purchase</h1>
		<div id="add-product">

			<form method="POST" action="/purchases/add" >
			    Date:<input type="date" name="purchases_date"><br />
		        Product Name:<br /> 
		        <select name="purchases_id">
			        {{#purchases}}
			            <option value="{{id}}">{{product}}</option>
			        {{/purchases}}
		        </select><br />
			    Price:<br /><input type="price" name="price"><br />
			    Quantity:<br /><input type="number" name="qty"><br />
			      
		        <br /><br /><input type="submit">
		    </form>
		</div>
	</div>
</div>



