<div id="container">
	<table border="2">
	<thead>
			<th data-field="name">Product Name</th>  
	</thead>
    <tbody>
		{{#products}}
		<tr>
		    <td><h2>{{name}}</h2></td> 
			<td><a href="addProducts/add/{{id}}">Add</a><td>
			<td><a href="/addProducts/edit/{{id}}">Edit</a></td>
			<td><a href="/addProducts/Delete/{{id}}">Delete</a></td>
		</tr>
		{{/products}}
		</tbody>
	</table>
</div>
	{{#empty}}
		<p>The list is empty</p>
	{{/empty}}
	
	
	