<table class="table-responsive" id="category_list">
	<table class="table">
			<thead>
				<tr>
					<th data-field="name">Categoeies Id</th>
					<th data-field="name">Categories Name</th>
				</tr>
			</thead>

			<tbody>
				{{{#categories}}}
				<tr>
					<td>{{{cat_id}}}</td>
					<td>{{{cat_name}}}</td>
				</tr>
				{{{/categories}}}
			</tbody>
	</table>
</table>			