<table class="table-responsive" id="category_list">
	<table class="table">
		<form>
			<input class="searchBar" id="categoriesSearchBar" type="text" name="categories"></input>
		</form>
			<thead>
				<tr>
					<th data-field="name">Categoeies Id</th>
					<th data-field="name">Categories Name</th>
				</tr>
			</thead>

			<tbody>
				{{{#categories}}}
				<tr>
					<td>{{{cat_id}}}</td>
					<td>{{{cat_name}}}</td>
				</tr>
				{{{/categories}}}
			</tbody>
	</table>
</table>			
<div id = "container">
	<h2>Categories</h2>
	<ul class="people_list">  
	   {{#each products}}
		 {{{this.name}}}<br />
	   {{/each}} 
	</ul>
</div>