<table class="table-responsive" id="category_list">
	<table class="table">
		<form>
			<input class="searchBar" id="categoriesSearchBar" type="text" name="categories"></input>
		</form>
			<thead>
				<tr>
					<th data-field="name">Categoeies Id</th>
					<th data-field="name">Categories Name</th>
				</tr>
			</thead>

			<tbody>
				{{#categories}}
				<tr>
					<td>{{this.cat_id}}</td>
					<td>{{this.cat_name}}</td>
				</tr>
				{{/categories}}
			</tbody>
	</table>
</table>			