<div id="container"><h1>Edit</h1>


{{#data}}
<<<<<<< HEAD
     <form method="POST" action="/products/update/{{id}}">
=======
     <form action="/products/update/{{id}}" method="POST">
>>>>>>> 1e537577b94e568018f4b6da3eefc9ab31d36868
		Description: <input type="text" name="name" value="{{name}}" required>
		<input type="submit">
     </form>
{{/data}}

</div>