<div id="container">
	<ul class="people_list">
		<h1>Edit</h1>
{{#products}}

			<form action="/sales/update/{{id}}" method="POST">
				Description: 
				<option>
					<select value = {{id}}>{{name}}</select>
				</option>
				<input type="submit">
			</form>
{{/products}}
	</ul>
</div>