<div id="container">
	<ul class="people_list">
		<h1>Edit</h1>
			{{#data}}
			<form action="/sales/update/{{id}}" method="POST">
				Description: <input type="text" name="name" value="{{id}}" required>
				<input type="submit">
			</form>
			{{/data}}
	</ul>
</div>