<div id="container"><h1>Edit</h1>
  <table class="table table-responsive">
    {{#purchases}}
    <tr>
     <td>
      <form action="/purchases/update/{{id}}" method="POST">
    		Description:<input type="text" name="name" value="{{id}}" required>
    		<input type="submit">
      </form>
     </td>
    </tr>
   {{/purchases}}
   <table>
</div>
