	<div id="container">
    <ul class="people_list">

	<h1>Edit</h1>
	{{#data}}
	<form action="/addCategory/update/{{id}}" method="POST">	
		
		discription : <input type="text" name="name"  value="{{name}}"required> 

	<input type="submit" >
	</form>
	{{/data}}

	</ul>
	
</div>
