<div id="container"><h1>Edit</h1>
    <form action="/purchases/update/{{id}}" method="POST">
		Description: 
		<input type="text" name="name" value="{{product}}" required>
		<input type="submit">
    </form>
</div>