<div id="container">
	<ul class="people_list">
		<h1>Edit</h1>
			<form action="/sales/update/{{id}}" method="POST">
			Description :
				<select>
				{{#products}}
					<option value = {{id}}>{{name}}</option>
				{{/products}}
				</select>
				<input type="submit">
			</form>	
	</ul>
</div>