<div id="container"><h2><strong>Least Popular Category</strong></h2>
	<table class="table-responsive">
		<table class="table">
			<thead>
				<th data-field="name">Category Name</th>
				<th data-field="name">Total Quantity</th>

			</thead>
			<tbody>
	
	    {{#each products}}
		    <tr>
			<td><h2>{{{this.name}}}</h2></td> 
			<td><h2>{{{this.totalqty}}}-Iterms</h2></td>
			</tr>
		{{/each}}	
			</tbody>
		</table>
	</table>	
</div>