	<div id="container"><h2>Least Popular Product</h2>

	
	<ul class="people_list">

		{{#each products}}
		
		{{this.name}} - {{this.totalqty}}
	
		{{/each}}	


		<img scr="image(2).jpg"/>
		
	
	</ul>
	</div>