	<div id="container"><h2>products</h2>


	<ul class="people_list">

		{{#each products}}
			{{this.name}} -{{this.qty}}
		{{/each}}
	<a href="./index.html">Back to Homepage</a>

	</ul>
	<body>
		{{{body}}}
	</body>		