<div id = "container">
    <ul class ="people_list">
        <h1>Login</h1>
        <form method ="POST" action= "login">
            Username:<br /><input type="text"name="username" placeholder="Enter your username" input value="{{username}}"/><br />
            Password:<br /><input name="password" placeholder="Enter your password" input value="{{password}}"/>
            <br />
            <input type = "submit"/>
        </form>
        <h3>You don't have an account sign up <a href="signup">here</a><h3>
    </ul>
</div>