<div id = "container">
    <ul class ="people_list">
        <h1>Login</h1>
        <form method ="POST" action= "login">
            Username:<input type="text"name="username" placeholder="Enter your username" input value="{{username}}"/><br />
            Password:<input name="password" placeholder="Enter your password" input value="{{password}}"/><br />
            <input type = "submit"/>
        </form>
    </ul>
</div>