	<div id="container"><strong><h2>Most Popular Product</h2></strong>


	<ul class="people_list">

		{{#each products}}
		
		{{this.name}} - {{this.totalqty}}
	
		{{/each}}	


		<img scr="/image(2).jpg"/>
		
	
	</ul>
	</div>