	<div id="container"><h2>Most Popular Products</h2>


	<ul class="people_list">

		{{#each product}}
		
		{{name}} - {{qty}}
	
		{{/each}}	

		<img scr="../12-630x370 (1).jpg"/>
		<a href="./index.html">Back to Homepage</a>
	
	</ul>
	</div>