<div id="container"><strong><h2>Product Earnings</h2></strong>
<table class="table table-responsive">
          <thead>
                  <th data-field="name">Product Name</th>
                  <th data-field="name">Total Quantity</th>

          </thead>
                  <tbody>

                  {{#products}}
                          <tr>
                            <td><h2>{{this.name}}</h2></td>
                            <td><h2> R{{this.earningsPerProduct}}.00</h2></td>
                          </tr>
                  {{/products}}

                  </tbody>

  </table>
</div>
