<div id="container">
	<ul class="people_list">
  		<h1>Edit users here</h1>
  		<table class="table-responsive">
  			<table class="table">
				{{#data}}
					
					<form method="POST" action="/users/update/{{id}}">

	   						<br /><br />User Role:<br />
	   						<td>{{username}}</td>
	   						<select name="user_role">
	   							<option type="text" name="user_role" value="Admin">Admin</option>
	   							<option type="text" name="user_role" value="Viewer">Viewer</option>
	   						</select><br />
	   					<input type="submit">
	   				</form>			
				{{/data}}
			</table>
		</ul>
</div>
