<div id="container">
	<ul class="people_list">
  		<h1>Edit users here</h1>
  		<table class="table-responsive">
  			<table class="table">
				{{#data}}	
					<form method="POST" action="/users/update/{{id}}">
	   						<br /><br />User Role:<br />
<<<<<<< HEAD
<<<<<<< HEAD
	   						<select name="users_role">
	   							<option type="text" name="user_role" value="Admin">Admin</option>
	   							<option type="radio" name="user_role" value="Viewer">Viewer</option>
	   						</select>
=======
=======
>>>>>>> fc4577d3c0731e92fe93fc2c49e4af81f67241e7
	   						<select name="user_role">
	   						
	   							<option type="text" name="user_role" value="Admin">Admin</option>
	   							<option type="text" name="user_role" value="Viewer">Viewer</option>
	   					
	   						</select><br />
<<<<<<< HEAD
>>>>>>> 42bc184936b1ed48ec51ab99efdfca28a4b75106
=======
=======
	   						<select name="users_role">
	   							<option type="text" name="user_role" value="Admin">Admin</option>
	   							<option type="radio" name="user_role" value="Viewer">Viewer</option>
	   						</select>
>>>>>>> 6063b5c47942b0aba84b7813037c0cb62003d0a2
>>>>>>> fc4577d3c0731e92fe93fc2c49e4af81f67241e7
	   					<input type="submit">
	   				</form>			
				{{/data}}
			</table>
		</ul>
</div>
