<div id="container">
	<ul class="people_list">
  		<h1>Edit users here</h1>
  		<table class="table-responsive">
  			<table class="table">
				{{#data}}	
					<form method="POST" action="users/update/{{id}}">
	   					Description:<input type="text" name="name" value="{{username}}" required><br />
	   						<br /><br />User Role:<br />
	   						<select name="users_role">
	   						{{#users_role}}
	   							<option type="text" name="name" value="{{users_role}}">{{role}}</option>
	   						{{/users_role}}
	   						</select>
	   					<input type="submit">
	   				</form>			
				{{/data}}
			</table>
		</ul>
</div>
